// CS google analytics
:coffeescript
  # this is Tracking ID from google
  tracking_id = 'UA-37370501-1'

  _gaq = window._gaq or= []
  _gaq.push ['_setAccount', tracking_id ]
  _gaq.push ['_trackPageview']

  protocol = if 'https:' is document.location.protocol then 'https://ssl' else 'http://www'

  ga = document.createElement 'script'
  ga.type   = 'text/javascript'
  ga.async  = true
  ga.src = "#{protocol}.google-analytics.com/ga.js"
  
  s = document.getElementsByTagName('script')[0]
  s.parentNode.insertBefore(ga, s);
