extends includes/layout

block content
  div.container
    h1 TinyData Test suite

    div.span8
      p Список тестов (откроются в отдельном окне):

      ul
        li.first: a(href='tinydata_test.html', target='_blank') TinyData test
        li: a(href='forger_test.html', target='_blank') DotForger test 
        li.last: a(href='stress_test.html', target='_blank') Do stress test on dig data

      p 
        | Все тесты написаны для связки 
        strong mocha+chai
        |  и работают как в браузере так и в 
        strong node.js.

      p
        | Для запуска тестов в 
        strong node
        |  требуется установить все необходимые модули, выполнив команду 
        code npm install
        |  в корневом каталоге, далее используйте команду 
        code mocha
        |  из того же корневого каталога.
